.about-container{
    /* height: 100vh; */
    /* border: 3px solid white; */
    /* grid-template-rows: 25vh 75vh; */
}

.about-header{
    display: grid;
    grid-template-columns: 42% 58%;
    grid-auto-rows: 25vh;
    padding: 2vw 0 5vw;
}

.picture{
    justify-self: end;
    align-self: center;
    padding-right: 1vw;
}

.intro{
    padding-left: 1vw;
    align-self: center;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    max-height: 500px;
}

.about-h2{
    font-family: var(--museomoderno);
    font-size: 3rem;
    line-height: 0.5em;
}

.about-h3{
    font-family: var(--museomoderno);
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1vw;
}

.about-p{
    font-family: var(--mulish);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 0.5em;
}

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50vh;
}

.my-values{
    background-color: #FF72B1;
}

.my-achievements{
    background-color: #FFA1CB;
}

.my-contact{
    background-color: #FFCEE4;
}

.col-p{
    padding: 0 4vw;
    font-family: var(--mulish);
    font-size: 1rem;
}
