.projects-container{
    display: grid;
    grid-template-rows: minmax(100px, auto);
    padding: var(--padding);
    border: 3px solid white;
}

.vertical-h2{
    display: grid;
    font-family: var(--museomoderno);
    font-size: 3rem;
    margin-bottom: 6vw; 
    border: 3px solid white;
}

.pink-h2{
    color: #FFA1CB;
}

.projects-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid green;
}

.projects-section .project1{
    grid-column: 1/2;
    grid-row: 1/2;
    /* width: 530px; */
    border: 3px solid blue;
}

.project1 img{
    width: 500px;
}

.project2{
    grid-column: 2/3;
    grid-row: 1/2;
    border: 3px solid white;
}

.project2 img{
    width: 350px;
}

.project3{
    grid-column: 2/3;
    grid-row: 2/3;
    border: 3px solid white;
}

.project4{
    grid-column: 1/2;
    grid-row: 3/4;
    border: 3px solid white;
}

.project-num{
    font-family: var(--museomoderno);
    font-weight: 800;
    text-transform: uppercase;
}

.project-name{
    font-family: var(--mulish);
    font-size: 1.2rem;
    font-weight: 500;
} 
