@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;900&family=Pacifico&display=swap');

nav{
    background-color: #F3AA7F;
}

nav a{
    color: #fff;
    font-size: 1em;
}

header{
    background-color: #F6BA59;
    padding: 8vw;
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2rem;
}

h1, h2{
    color: #fff;
    font-weight: 900;
}

h3{
    color: #fff;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 3vw;
}

input {
    margin: 0.5vw;
    padding: 1vw;
    border: none;
    border-radius: 25px;
    font-family: Outfit, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.info-box {
    width: 40%;
}  

.orange-section {
    background: #f3aa7f;
    padding: 8vw 11vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pink-section{
    background-color: #FCCAD2;
    padding: 8vw;
}

#contact-btn {
    padding: 12px 25px 15px;
    display: inline-block;
    text-decoration: none;
    background: #e56c41;
    border-radius: 25px;
    border: none;
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}

#contact-btn:hover {
    background: #f3aa7f;
}

#send-btn {
    padding: 12px 20px 15px;
    margin: auto;
    margin-top: 2vw;
    width: 30%;
    text-decoration: none;
    background: #b4d0de;
    border-radius: 25px;
    border: none;
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}
  
#send-btn:hover {
    background: #7fafc7;
}
  
