.connect-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: white;
    padding: 1.5vw 6vw;   
}

.connect-h2{
    grid-column: 1/2;
}

.connect-h2 h2{
    font-family: var(--mulish);   
    text-transform: uppercase;
    color: #2A3439;
    font-size: 1.6rem;
    font-weight: 900;
}

.connect-h2:nth-child(3){
    grid-column: 3/4;
}

.icon-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.icon-img{
    height: 40px;
    cursor: pointer;
    transition: height .3s
}

.icon-img:hover{
    height: 45px;
}

.icon-img:nth-child(1){
    justify-self: end;
}

.icon-img:nth-child(3){
    justify-self: start;
}

.thank-you{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 10px;
    align-items: center;
}

#thank-you{
     justify-self: end;
     margin: 0;
}

#smiley{
    height: 28px;
}
