.header-container{
    font-family: var(--museomoderno);
    max-height: 750px;
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
}

h1, h2{
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 900;
}

h1{
    position: relative;
    font-size: 12rem;
    line-height: 1em;
    letter-spacing: 10px;
    margin: 8vw auto 0vw;
    width: max-content;
}

h1::before,
h1::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before{
    background-color: #2A3439;
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--steps)) 1s forwards;
}

h1::after{
    width: 0.08em;
    background: #FFA1CB;
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--steps)) 1s forwards,
        blink var(--blinkSpeed) steps(2, start) infinite;
}

@keyframes typewriter{
    to {
        left: 100%;
    }
}

@keyframes blink{
    to {
        visibility: hidden;
    }
}

h2{
    font-size: 4.5rem;
    margin: auto;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 0.5s) forwards;
}

@keyframes fadeInUp{
      to {
        opacity: 1; 
        transform: translateY(0);
    }
}

h3{
    font-family: var(--mulish);
    font-weight: 400;
    font-size: 2.2rem;
}

.contact-btn{
    background-color: #FF72B1;
    color: #2A3439;
    font-family: var(--mulish);
    font-weight: 700;
    font-size: 1rem;
    padding: 16px 28px;
    border-radius: 35px;
    border: none;
    margin: 2.5vw auto 10vw;
    cursor: pointer;
}

.contact-btn:hover{
    background-color: #FFA1CB;
}

#highlight{
    color: #FFA1CB;
}
