@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&family=MuseoModerno:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #2A3439;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

