@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&family=MuseoModerno:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: var(--bg-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --museomoderno: 'MuseoModerno', display;
  --mulish: 'Mulish', sans-serif;
  --typewriterSpeed: 3s;
  --blinkSpeed: 900ms;
  --steps: 8;
  --bg-dark: #2A3439;
  --bg-pink: #FFA1CB;
  --padding: 10vw 8vw;
}
